body {
    font-family: 'open sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/bg.png);
    height: 100%;
}

.contenedor {
    width: 70%;
    max-width: 600px;
    margin-top: 10% !important;
    margin: auto;
    padding: 20px;
    background: #1ebea5;
    color: white;
    border: solid 6px #fbfbfbab;
}

input#numero {
    padding: 7px;
    border-radius: 24px;
    border: solid 2px #fbfbfb;
}

.lista {
    padding-left:20px;
    font-size: 14px;
}

#btn-numero {
    padding: 5px 16px;
    margin-top: 10px;
    border-radius: 25px;
    border: solid 1.5px white;
    background: #07bc4c;
    color: white;
    font-size: 14px;
}

.btn-enviar {
    color:white;
    background: #07bc4c;
    border-radius: 25px;
    border: solid 1.5px white;
    padding: 3.5px 16px;
    text-decoration: none;
    font-size: 14px;
    margin-left:14px;
    margin-top:15px;
}

.desarrollo {
    font-size: 10px;
    color: azure;
    margin-top: 30px;
    text-align: center;
}
.desarrollo a {
    text-decoration: none;
    color: azure;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
